<!DOCTYPE HTML>
<html>
    <head>
    <title>Customers so far</title>
    </head>

    <h1>The Customer List so far:</h1>

    <div id="app">
        <ul >
            <li v-if="!customers.length">Sorry, there are no customers.</li>
            <li v-for="customer in customers">
                <button @click="getCustomer(customer)"></button>
                first name -> {{ customer.firstName }}
                last name -> {{ customer.lastName }}
                email -> {{ customer.email }}
                mobile -> {{ customer.mobile }}
            </li>
        </ul>

        <label>First Name:</label>
        <input type="text" v-model="formData.firstName">
        <label>Last Name:</label>
        <input type="text" v-model="formData.lastName">
        <label>Email:</label>
        <input type="text" v-model="formData.email">
        <label>Phone:</label>
        <input type="text" v-model="formData.mobile">
        <div>
            <button v-on:click="submitData">Submit Data</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/start.js"></script>

</html>